{% extends 'base.html' %}
{% block title %}Home EGR{% endblock title %}



{% block body %}
    <h1>EGR</h1>
    <h4>Показать данные за:</h4>
    <ul>
        <li><a href="?period=1">За вчера</a></li>
        <li><a href="?period=2">За предыдущую неделю</a></li>
    </ul>
{% endblock body %}
{% block custom_scripts %}
<script>
    $(document).ready(function() {
        $('#table').DataTable({
        dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]
        });
    } );
</script>
{% endblock custom_scripts %}

